@using Aztobir.Business.ViewModels.Home.Contact
@model CreateContactVM
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb-banner-area -->
	<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-text">
						<div class="breadcrumb-menu">
							<ul>
								<li><a asp-controller="home" asp-action="index">Ana Sayfa</a></li>
								<li><span>İletişim</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-banner-area-end -->

	<!-- service-area-start -->
	<div class="service-area pt-80 pb-50">
		<div class="container">
			<div class="section-title text-center">
				<h3>@ViewBag.Contact_Head</h3>
				<p>@ViewBag.Contact_Content</p>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img/service/1.png" alt="" />
						</div>
						<div class="service-text">
							<h5>Number phone</h5>
							<div class="excerpt">
								<span>@ViewBag.Phone1</span>
								<span>@ViewBag.Phone2</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img/service/2.png" alt="" />
						</div>
						<div class="service-text">
							<h5>AddressStreet</h5>
							<div class="excerpt">
								@ViewBag.Adress
							</div>
						</div>
					</div>
				</div>
				@*<div class="col-md-6 col-lg-3">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img/service/3.png" alt="" />
						</div>
						<div class="service-text">
							<h5>Telephone No.</h5>
							<div class="excerpt">
								<span>Fax 1: 0(1234) 567 89012</span>
								<span>Fax 2: 0(987) 567 890</span>
							</div>
						</div>
					</div>
				</div>*@
				<div class="col-md-6 col-lg-4">
					<div class="single-service text-center mb-30">
						<div class="service-img">
							<img src="~/assets/img/service/4.png" alt="" />
						</div>
						<div class="service-text">
							<h5>Number phone</h5>
							<div class="excerpt">
								<span>@ViewBag.Email1</span>
								<span>@ViewBag.Email2</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- service-area-end -->

	<!-- contact-area-start -->
	<div class="contact-area ptb-100">
		<div class="container">
			<form id="contact-form" asp-action="SendContact" method="POST">
				<div class="row">
					<div class="col-md-6">
						<input asp-for="FullName" placeholder="name" />
						<span asp-validation-for="FullName" class="text-danger"></span>
					</div>
					<div class="col-md-6">
						<input asp-for="Email" placeholder="email"/>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="col-md-6">
						<input asp-for="Phone" placeholder="tel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       maxlength="12"
                                       minlength="12" placeholder="Example: 994..." />
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>
					<div class="col-md-6">
						<input asp-for="Subject" placeholder="subject" />
						<span asp-validation-for="Subject" class="text-danger"></span>
					</div>
					<div class="col-12">
						<textarea asp-for="Message" placeholder="message" rows="10" cols="30" ></textarea>
						<span asp-validation-for="Message" class="text-danger"></span>
					</div>
				</div>
				<div class="message-button text-center">
					<input class="message" type="submit" value="send">
				</div>
			</form>
			<p class="form-messege"></p>
		</div>
	</div>
	<!-- map-area -->
	<div class="map-area mt-5">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6251204.054201172!2d36.8502653545674!3d40.09000404561823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dd6bd748013%3A0x4852911ddfc8299a!2sBAYBURT%20GROUP!5e0!3m2!1sen!2saz!4v1677182347840!5m2!1sen!2saz" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<!-- map-end -->
	<!-- contact-area-end -->

	@section Validation{
    <partial name="_ValidationScriptsPartial" />
}