@using Aztobir.Business.ViewModels.Team
@model TeamViewVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="d-inline">
                <a asp-action="Index" class="mr-2 text-white d-flex">
                    <i style="color:black;" class="mdi mdi-menu-left"></i>
                    <h3 style="margin-bottom:0px; margin-top:6px;" class="d-inline card-title">Ekibimiz</h3>
                </a>
            </h3>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Image</th>
                            <th><img style="width:160px;" src="~/assets/img/@Model.Team.Image" /></th>
                        </tr>
                        <tr>
                            <td>Fullname</td>
                            <td>@Model.Team.FullName</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>@Model.Team.Position</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>@Model.Team.Content</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>@Model.Team.Phone</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>@Model.Team.Email</td>
                        </tr>
                        <tr>
                            <td>Social Media</td>
                            <td style="padding: 0 0 0 17px;">
                                <a style="padding:5px;" class="btn btn-link" href="@Model.Team.Facebook"><i class="mdi mdi-facebook"></i></a>
                                <a style="padding:5px;" class="btn btn-link" href="@Model.Team.Twitter"><i class="mdi mdi-twitter"></i></a>
                                <a style="padding:5px;" class="btn btn-link" href="@Model.Team.Linkedin"><i class="mdi mdi-linkedin"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Settings
                            </td>
                            <td style="padding: 0 0 0 17px;">
                                <a style="padding:5px;" asp-action="Update" class="btn btn-warning" asp-route-id="@Model.Team.Id"><i class="mdi mdi-table-edit"></i></a>
                                <a style="padding:5px;" asp-action="Delete" class="btn btn-danger delete-btn" asp-route-id="@Model.Team.Id"><i class="mdi mdi-account-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section ScriptModal{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="~/admin/assets/js/AlertModal.js"></script>
}
