@using Aztobir.Business.ViewModels.Team
@model TeamViewVM
@{
    ViewData["Title"] = "Detail";
}

<!-- breadcrumb-banner-area -->
	<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-text">
						<div class="breadcrumb-menu">
							<ul>
								<li><a asp-controller="home" asp-action="index">Ana Sayfa</a></li>
								<li><a asp-controller="team" asp-action="index">Ekibmiz</a></li>
								<li><span>@Model.Team.FullName</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-banner-area-end -->

	<!-- teacher-details-start -->
	<div class="teacher-details-area pt-60 pb-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-teacher-details mb-30">
						<div class="teacher-details-img">
							<img src="~/assets/img/teacher/@Model.Team.Image" alt="" />
							<div class="details-link">
								<a href="@Model.Team.Facebook"><i class="fa fa-facebook"></i></a>
								<a href="@Model.Team.Twitter"><i class="fa fa-twitter"></i></a>
								<a href="@Model.Team.Linkedin"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="teacher-details-info">
							<h4>@Model.Team.FullName</h4>
							<p>@Model.Team.Position</p>
							<div class="our-teacher-content">
								<span><i class="fa fa-phone"></i>Phone: @Model.Team.Phone</span>
								<span><i class="fa fa-envelope"></i>Email: @Model.Team.Email</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="single-teacher-about">
						<div class="single-title">
							<h3>About</h3>
						</div>
						<p>
							@Model.Team.Content
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- teacher-details-end -->

