@using Aztobir.Business.ViewModels.Team
@model TeamViewVM
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb-banner-area -->
<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Ana Sayfa</a></li>
                            <li><span>Ekibimiz</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- teacher-area-start -->
<div class="teachers-area pb-70 pt-4">
    <div class="container">
        <div class="section-title text-center">
            <h3>@ViewBag.Team_Head</h3>
            <p>
                @ViewBag.Team_Content
            </p>
        </div>
        <div class="space-24">
            <div class="teachers-active owl-carousel">
                @foreach (var item in Model.Teams)
                {
                    <div class="single-teachers mb-30">
                    <div class="teachers-img">
                        <a asp-controller="team" asp-action="detail" asp-route-id="@item.Id"><img src="~/assets/img/@item.Image" alt="" /></a>
                    </div>
                    <div class="teachers-text text-center">
                        <h4>@item.FullName</h4>
                        <span>@item.Position</span>
                        <div class="social-link">
                            <a href="@item.Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="@item.Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="@item.Linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- teacher-area-end -->
