@using Aztobir.Business.ViewModels.About
@model AboutViewVM
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb-banner-area -->
<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Ana Sayfa</a></li>
                            <li><span>Hakkımızda</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- media-area-start -->
<div id="mediaarea" class="media-area pb-70 pt-3">
    <div class="container">
        <div class="section-title text-center">
            <h3>Hakkımızda</h3>
            <p>Our services run deep and are backed by over ten years of experience.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="single-media">
                    <div class="media-text">
                        <p>
                            @Html.Raw(@Model.About.Content)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="media-img">
                    <img src="~/assets/img/@Model.About.Image" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- media-area-end -->
<!-- features-area-start -->
<div class="features-area pt-80 pb-50 w-75 mx-auto">
    <div class="container">
        <div class="row">
            @foreach (var goal in Model.Goals)
            {
                <div class="col-lg-4 col-md-6">
                <div class="single-features text-center mb-30">
                    <div class="icon-box">
                        @Html.Raw(goal.Logo)
                    </div>
                    <h5>@goal.Name</h5>
                    <p>
                        @goal.Content
                    </p>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- features-area-end -->
