@using Aztobir.Business.ViewModels.Home.University
@model UniversityViewVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="d-inline">
                <a asp-action="Index" class="mr-2 text-white d-flex">
                    <i style="color:black;" class="mdi mdi-menu-left"></i>
                    <h3 style="margin-bottom:0px; margin-top:6px;" class="d-inline card-title">Mesajlar</h3>
                </a>
            </h3>
                
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Ad, Soyisim</td>
                            <td>@Model.UniversityFormOdd.FullName</td>
                        </tr>
                        <tr>
                            <td>Mezmun</td>
                            <td>@Model.UniversityFormOdd.Email</td>
                        </tr>
                        <tr>
                            <td>Universite</td>
                            <td>@Model.UniversityFormOdd.UniversityName</td>
                        </tr>
                        <tr>
                            <td>Tarih</td>
                            <td>@Model.UniversityFormOdd.CreatedDate</td>
                        </tr>
                        <tr>
                            <td>Mesaj</td>
                            <td>@Model.UniversityFormOdd.Message</td>
                        </tr>
                        <tr>
                            <td>
                                Ayarlar
                            </td>
                            <td style="padding: 0 0 0 17px;">
                                <a style="padding:5px;" asp-action="Delete" class="btn btn-danger delete-btn" asp-route-id="@Model.UniversityFormOdd.Id"><i class="mdi mdi-comment-remove-outline"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptModal{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="~/admin/assets/js/AlertModal.js"></script>
}

