@using Aztobir.Business.ViewModels.Home.University
@model UniversityViewVM
@{
    ViewData["Title"] = "Detail";
    int sliderNum = 0;
}

<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Home</a></li>
                            <li><a asp-controller="univeristy" asp-action="index">Universities</a></li>
                            <li><span>@Model.University.Name</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- course-details-start -->
<div class="course-details-area pt-60 mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!--carousel-->
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var photo in Model.Photos)
                        {
                            <div class="carousel-item @(sliderNum<1 ? "active" : " ") " data-bs-interval="10000">
                                <div class="course-details-img">
                                    <img src="~/assets/img/@photo.Image" alt="" class="w-100" />
                                </div>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div>
                    <!-- Nav tabs -->
                    <ul class="course-tab" role="tablist">
                        <li role="presentation">
                            <button type="button" class="active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" aria-controls="home" role="tab" aria-selected="true">
                                <i class="fa fa-graduation-cap"></i>
                                Məlumat
                            </button>
                        </li>
                        <li role="presentation">
                            <button type="button" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    aria-controls="profile" role="tab" role="tab" aria-selected="false">
                                <i class="fa fa-calendar"></i>
                                Fakulteler
                            </button>
                        </li>
                        <li role="presentation">
                            <button type="button" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
                                    aria-controls="messages" role="tab" role="tab" aria-selected="false">
                                <i class="fa fa-comments"></i>
                                Feedbacks
                            </button>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home" role="tabpanel"
                             aria-labelledby="home-tab" tabindex="0">
                            <div class="single-course-details mb-30">
                                <div class="course-story-details">
                                    <p>
                                        @Model.University.Content
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile" role="tabpanel"
                             aria-labelledby="profile-tab" tabindex="0">
                            <div class="tab-details-area mb-30">
                                <div class="tab-details-info">

                                    @foreach (var faculty in Model.Faculties)
                                    {
                                        <p>@faculty.Name</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages" role="tabpanel"
                             aria-labelledby="messages-tab" tabindex="0">
                            <div class="section-title-small mb-30">
                                EMPTY
                            </div>
                            <div class="section-title-small mb-30">
                                EMPTY
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-widget-item mb-30">
                    <div class="single-title">
                        <h3>Register Classes</h3>
                    </div>
                    <div class="contacts-form">
                        <form method="post">
                            <input type="hidden" asp-for="@Model.UniversityForm.UniversityId" value="@Model.UniversityId" placeholder="class name">
                            <input asp-for="@Model.UniversityForm.FullName" placeholder="Your Name">
                            <span asp-validation-for="@Model.UniversityForm.FullName" class="text-danger"></span>
                            <input asp-for="@Model.UniversityForm.Email" placeholder="Your Email">
                            <span asp-validation-for="@Model.UniversityForm.Email" class="text-danger"></span>
                            <textarea asp-for="@Model.UniversityForm.Message" placeholder="Write here" rows="10" cols="30"
                                      ></textarea>
                            <span asp-validation-for="@Model.UniversityForm.Message" class="text-danger"></span>
                            <button class="send sendMessage " type="submit">Send</button>
                            <a asp-action="Detail" asp-route-id="@Model.UniversityId" class="d-none urlUniForm"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Validation{
    <partial name="_ValidationScriptsPartial" />
}
@section ScriptModal{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/AlertModal.js"></script>
}
    <!-- course-details-end -->
