@using Aztobir.Business.ViewModels.Home
@model HomeVM
@{
    ViewData["Title"] = "Index";
    int num = 0;
    int sliderNum = 0;
}

<!-- slider-area-start -->
    
<div class="slider-area">
    <div class="slider-active owl-carousel ">
        @foreach (var news in Model.News)
        {
            <div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/@news.Image); background-size:cover; background-repeat:no-repeat; height:100vh;">
                <div class="container">
                    <div class="slider-text" style="color:white">
                        <h3>@news.Name</h3>
                        <div>
                            @(Html.Raw(news.Content.Length<=110?news.Content:news.Content.Substring(0,110)+"..."))
                        </div>
                        <a asp-controller="news" asp-action="detail" asp-route-id="@news.Id">Daha Fazla</a>
                    </div>
                </div>
            </div>
            num++;
        }
    </div>
</div>
<!-- slider-area-end -->
<!-- courses-area-start -->
<div class="courses-area pb-30 w-75 mx-auto">
    <div class="container">
        <div class="section-title text-center mt-5">
            <h3>@ViewBag.Universitet_Head</h3>
            <p>@ViewBag.Universitet_Content</p>
        </div>
        <div class="row">
            @*@await Component.InvokeAsync("University")*@
            <div class="space-24">
                <div class="teachers-active owl-carousel">
                    @foreach (var uni in Model.Universities)
                    {
                        <div class="single-teachers mb-30">
                            <div class="courses-img">
                                <a asp-controller="university" asp-action="detail" asp-route-id="@uni.Id">
                                    <img src="~/assets/img/@uni.ImageHead" alt="" />
                                </a>
                            </div>
                            <div class="courses-text">
                                <div class="class-des">
                                    <h3><a href="course-details.html">@uni.Name</a></h3>
                                    <div class="class-schedule">
                                        <ul>
                                            <li>Şehir: <span>@uni.City</span></li>
                                            <li>Dil-Hazırlık eğitimi: @uni.EducationLanguage</li>
                                            <li>Öğrenci sayı: @uni.StudentCount</li>
                                            <li>Fakülte sayı: @uni.FacultyCount</li>
                                            <li>Statü: @(@uni.Status==true ? "var" : "yoxdur")</li>
                                        </ul>
                                    </div>
                                    <span class="arrow"><a asp-controller="university" asp-action="detail" asp-route-id="@uni.Id">Daha Fazla</a></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- courses-area-start -->
<!-- testimonial-area-start -->


<div class="container-fluid w-75" style="margin-bottom:60px;">
    <div class="section-title text-center">
        <h3>@ViewBag.Feedback_Head</h3>
        <p>
            @ViewBag.Feedback_Content
        </p>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"
         style="background-color: rgb(236, 236, 236);">
        <div class="carousel-inner">
            @foreach (var feedback in Model.Feedbacks)
            {
                <div class="carousel-item @(sliderNum<1 ? "active" : " ") " data-bs-interval="10000">
                    <div class="col-lg-12 d-flex">
                        <div class="col-lg-6">
                            <img style="margin:0 auto;border-radius:50%;width:100px;height:100px; margin-top:1%;" src="~/assets/img/@feedback.Image" class="d-block" alt="...">
                            <div class="text-center" style="margin:0 110px;">@(Html.Raw(feedback.Comment))</div>
                        </div>
                        <div class="col-lg-6">
                            <img class="w-50" style="margin-top:10px;margin-left:70px; margin-bottom:10px;" src="~/assets/img/@feedback.ImageView" alt="">
                        </div>
                    </div>
                </div>
                sliderNum++;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    @*<div class="">
    <img class="w-100" style="margin-top:10px;margin-left:70px;" src="~/assets/img/logo/1.png" alt="">
    </div>*@
</div>

<!-- testimonial-area-end -->
<!-- our-blog-area-start -->
<!--FAQ Start-->
<div class="container">
    <div class="section-title text-center">
        <h3>@ViewBag.Faq_Head</h3>
        <p>
            @ViewBag.Faq_Content
        </p>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
                @foreach (var faq in Model.FAQs)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@faq.Id" aria-expanded="true" aria-controls="collapse-@faq.Id">
                                @(Html.Raw(faq.Question))
                            </button>
                        </h2>
                        <div id="collapse-@faq.Id" class="accordion-collapse collapse" aria-labelledby="heading-@faq.Id" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @(Html.Raw(faq.Response))
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!--FAQ End-->
<style>
    .courses-text{
        color:black;
    }
    .single-teachers:hover{
        background-color:white;
    }

</style>