@using Aztobir.Business.ViewModels.Home
@model HomeVM
@{
    ViewData["Title"] = "Index";
    int num = 0;
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="slider-active owl-carousel ">
        @foreach (var news in Model.News)
        {
            @if (num <= 3)
            {
                <div class="single-slider ptb-150 bg-opacity" style="background-image:url(/assets/img/blog/@news.Image); background-size:cover; background-repeat:no-repeat;">
                    <div class="container">
                        <div class="slider-text">
                            <h3>@news.Name</h3>
                            <p>
                                @(news.Content.Length<=110?news.Content:news.Content.Substring(0,110)+"...")
                            </p>
                            <a asp-controller="news" asp-action="detail" asp-route-id="@news.Id">Daha Fazla</a>
                        </div>
                    </div>
                </div>
                num++;
            }
        }
    </div>
</div>
<!-- slider-area-end -->
<!-- courses-area-start -->
<div class="courses-area pb-30 w-75 mx-auto">
    <div class="container">
        <div class="section-title text-center mt-5">
            <h3>UNİVERSİTELER</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="row">
            @await Component.InvokeAsync("University")
        </div>
    </div>
</div>
<!-- courses-area-start -->
<!-- testimonial-area-start -->

<div class="container-fluid w-75" style="margin-bottom:60px;">
    <div class="section-title text-center">
        <h3>Feedback</h3>
        <p>
            Stay up to date with all our latest news and launches. Only the best quality makes it onto our blog!
        </p>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"
         style="background-color: rgb(236, 236, 236);">
        @foreach (var feedback in Model.Feedbacks)
        {
            <div class="carousel-inner">
                <div class="carousel-item active " data-bs-interval="10000">
                    <div class="col-lg-12 d-flex">
                        <div class="col-lg-6">
                            <h5 class="text-center">İştirakçı fikirləri</h5>
                            <img style="margin:0 auto;border-radius:50%;width:100px;height:100px;" src="~/assets/img/courses/1.jpg" class="d-block" alt="...">
                            <p class="text-center" style="margin:0 110px;">@feedback.Comment</p>
                        </div>
                        <div class="col-lg-6">
                            <img class="w-50" style="margin-top:10px;margin-left:70px; margin-bottom:10px;" src="~/assets/img/courses/@feedback.Image" alt="">
                        </div>
                    </div>
                </div>
            </div>
        }
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    @*<div class="">
    <img class="w-100" style="margin-top:10px;margin-left:70px;" src="~/assets/img/logo/1.png" alt="">
    </div>*@
</div>

<!-- testimonial-area-end -->
<!-- our-blog-area-start -->
<!--FAQ Start-->
<div class="container">
    <div class="section-title text-center">
        <h3>FAQ</h3>
        <p>
            Stay up to date with all our latest news and launches. Only the best quality makes it onto our blog!
        </p>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
                @foreach (var faq in Model.FAQs)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@faq.Id" aria-expanded="true" aria-controls="collapse-@faq.Id">
                                @faq.Name
                            </button>
                        </h2>
                        <div id="collapse-@faq.Id" class="accordion-collapse collapse" aria-labelledby="heading-@faq.Id" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @faq.Content
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!--FAQ End-->
