@using Aztobir.Business.ViewModels.About
@model AboutViewVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="d-inline">
                <a asp-action="Index" class="mr-2 text-white d-flex">
                    <i style="color:black;" class="mdi mdi-menu-left"></i>
                    <h3 style="margin-bottom:0px; margin-top:6px;" class="d-inline card-title">Amaçlarımız</h3>
                </a>
            </h3>
                
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Logo</th>
                            <th>@Model.Goal.Logo</th>
                        </tr>
                        <tr>
                            <td>Ad</td>
                            <td>@Model.Goal.Name</td>
                        </tr>
                        <tr>
                            <td>Mezmun</td>
                            <td>@Model.Goal.Content</td>
                        </tr>
                        <tr>
                            <td>
                                Settings
                            </td>
                            <td style="padding: 0 0 0 17px;">
                                <a style="padding:5px;" asp-action="Update" class="btn btn-warning" asp-route-id="@Model.Goal.Id"><i class="mdi mdi-table-edit"></i></a>
                                <a style="padding:5px;" asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Goal.Id"><i class="mdi mdi-comment-remove-outline"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
