@using Aztobir.Business.ViewModels.Home
@model HomeVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
    int num = 1;
}

<div class="col-lg-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Feedback</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Image</th>
                            <th>Ad, Soyisim</th>
                            <th>Universite</th>
                            <th>Mezmun</th>
                            <th>Ayarlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var feedback in Model.Feedbacks)
                        {
                            <tr>
                                <td class="ph">@num</td>
                                <td class="ph"><img class="php" src="~/assets/img/courses/@feedback.Image" alt="" /></td>
                                <td class="ph">@feedback.FullName</td>
                                <td class="ph">@feedback.University</td>
                                <td class="ph">@(feedback.Comment.Length<=5?feedback.Comment:feedback.Comment.Substring(0,5)+"...")</td>
                                <td class="ph">
                                    <a class="btn btn-primary p-2" asp-action="Detail" asp-route-id="@feedback.Id">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            num++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

