@using Aztobir.Business.ViewModels.Home.University
@model UniversityViewVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="d-inline">
                <a asp-action="Index" class="mr-2 text-white d-flex">
                    <i style="color:black;" class="mdi mdi-menu-left"></i>
                    <h3 style="margin-bottom:0px; margin-top:6px;" class="d-inline card-title">Universite</h3>
                </a>
            </h3>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Logo</th>
                            <th><img style="width:160px;" src="~/assets/img/@Model.University.Image" /></th>
                        </tr>
                        <tr>
                            <td>Ad</td>
                            <td>@Model.University.Name</td>
                        </tr>
                        <tr>
                            <td>Şehir</td>
                            <td>@Model.University.City</td>
                        </tr>
                        <tr>
                            <td>Dil Hazırlık Eğitimi</td>
                            <td>@Model.University.EducationLanguage</td>
                        </tr>
                        <tr>
                            <td>Oğrenci sayı</td>
                            <td>@Model.University.StudentCount</td>
                        </tr>
                        <tr>
                            <td>Fakulte sayı</td>
                            <td>@Model.University.FacultyCount</td>
                        </tr>
                        <tr>
                            <td>Statü</td>
                            <td>@(@Model.University.Status==true ? "var" : "yoxdur")</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>@Html.Raw(Model.University.Content)</td>
                        </tr>
                        <tr>
                            <td>Fotoğraflar</td>
                            <td>
                                 <a style="padding:5px;" asp-area="admin" asp-controller="universityimages" asp-action="create" class="btn btn-primary" asp-route-id="@Model.University.Id"><i class="mdi mdi-library-plus"></i></a>
                                 <a style="padding:5px;" asp-area="admin" asp-controller="universityimages" asp-action="detail" class="btn btn-success" asp-route-id="@Model.University.Id"><i class="mdi mdi-folder-image"></i></a>
                             </td>
                        </tr>
                        <tr>
                            <td>
                                Settings
                            </td>
                            <td style="padding: 0 0 0 17px;">
                                <a style="padding:5px;" asp-area="admin" asp-controller="university" asp-action="Update" class="btn btn-warning" asp-route-id="@Model.University.Id"><i class="mdi mdi-table-edit"></i></a>
                                <a style="padding:5px;" asp-area="admin" asp-controller="university" asp-action="Delete" class="btn btn-danger delete-btn" asp-route-id="@Model.University.Id"><i class="mdi mdi-comment-remove-outline"></i></a>
                                @*<form method="post" asp-action="Delete" asp-route-id="@Model.University.Id" class="d-inline">
                                       <button type="submit" style="padding:5px;"  class="btn btn-danger" ><i class="mdi mdi-comment-remove-outline"></i></button>
                                </form> *@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section ScriptModal{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="~/admin/assets/js/AlertModal.js"></script>
}
