@using Aztobir.Business.ViewModels.Home.News
@model NewsViewVM
@{
    ViewData["Title"] = "Detail";
    int num = 0;
}

<!-- breadcrumb-banner-area -->
<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Home</a></li>
                            <li><a asp-controller="news" asp-action="index">News</a></li>
                            <li><span>@Model.NewsDetail.Name</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- blog-story-start -->
<div class="blog-story-area pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="blog-story mb-30">
                    <div class="blog-img-2">
                        <img style="width:50%;" src="~/assets/img/@Model.NewsDetail.Image" alt="" />
                    </div>
                    <div class="blog-heading">
                        <h1>@Model.NewsDetail.Name</h1>
                    </div>
                    <div class="story-hbtitle" style="color:black;">
                        @Html.Raw(Model.NewsDetail.Content)
                    </div>
                    <div class="meta-info">
                        @*<span class="meta-item"><i class="fa fa-clock-o"></i>@Model.NewsDetail.CreatedAt?</span>*@
                        @*<span class="meta-item"><i class="fa fa-clock-o"></i>@Model.NewsDetail.CreatedAt.Day?/@Model.NewsDetail.CreatedAt.Month?/@Model.NewsDetail.CreatedAt.Year?</span>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-30">
                <div class="sidebar-widget">
                    <h5 class="sidebar-title">Recent Posts</h5>
                    <ul class="widget">
                        @foreach (var news in Model.RecentNews)
                        {
                            <li class="widget-bottom">
                                <div class="widget-img">
                                    <a asp-controller="news" asp-action="detail" asp-route-id="@news.Id"><img src="~/assets/img/@news.Image" alt="" /></a>
                                </div>
                                <div class="widget-title">
                                    <h4><a asp-controller="news" asp-action="detail" asp-route-id="@news.Id">@news.Name</a></h4>
                                    <span class="commentsm"><i class="fa fa-calendar"></i>@news.CreatedAt.Day/@news.CreatedAt.Month/@news.CreatedAt.Year</span>
                                </div>
                            </li>
                            num++;
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-story-end -->
