@using Aztobir.Business.ViewModels.Home.News
@model NewsViewVM
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb-banner-area -->
	<div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-text">
						<div class="breadcrumb-menu">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
								<li><span>Haberler</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-banner-area-end -->
	<!-- our-blog-area-start -->
	<div class="our-blog-area pb-70 pt-100">
		<div class="container">
			<div class="section-title text-center">
				<h3> Haberler</h3>
				<p>Latest news & event of our Student</p>
			</div>
			<div class="row">
				@foreach (var news in Model.News) //count, obsi viewModele salmaq
				{
					<div class="col-md-4 col-sm-6">
					<div class="single-blog mb-30">
						<div class="bolg-img">
							<a asp-controller="News" asp-action="Detail" asp-route-id="@news.Id"><img src="~/assets/img/blog/@news.Image" alt="" /></a>
						</div>
						<div class="blog-text">
							<h4><a asp-controller="News" asp-action="Detail" asp-route-id="@news.Id">@news.Name</a></h4>
							<div class="blog-date">
								<span><i class="fa fa-calendar"></i>@news.CreatedAt.Day/@news.CreatedAt.Month/@news.CreatedAt.Year</span>
								<span><i class="fa fa-comment"></i>0</span>
							</div>
							<p>@(news.Content.Length<=110?news.Content:news.Content.Substring(0,110)+"...")</p>
							<a asp-controller="News" asp-action="Detail" asp-route-id="@news.Id">Read more</a>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
	<!-- our-blog-area-end -->

